:root {
  --saturn-color: #bb7431;
  --mars: #bc2731;
  --mercury: #67a6ac;
  --venus: #eed053;
  --neptune: #007dac;
  --earth: green;
  --uranus: #ace5ee;
  --pluto: #34acb1;
  --space: #373757;
}

.college-check {
  margin-right: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--white);
}

#openScreen {
  z-index: 100;
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--space);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 3s;
}

#openScreen .startContainer {
  z-index: inherit;
  background-color: whitesmoke;
  width: 10rem; 
  height: 2rem; 
  border-radius: 1rem;
  margin-top: 1rem;
}

#openScreen img{
  height: 70%;
}

.main {
  display: flex;
}

.sidebar {
  z-index: 1;
  width: 30vw;
  height: 100vh;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
}

.legend {
  list-style-type: none;
}

.legend li {
  margin: 0.5rem 0;
}

.saturn {
  color: var(--saturn-color);
}

.mars {
  color: var(--mars);
}

.mercury {
  color: var(--mercury);
}

.venus {
  color: var(--venus);
}

.neptune {
  color: var(--neptune);
}

.earth {
  color: var(--earth);
}

.uranus {
  color: var(--uranus);
}

.pluto {
  color: var(--pluto);
}

.searchbox {
  padding: 10px 10px;
  border-radius: 1rem;
  margin: 0 1rem;
  width: 80%;
  height: 20px;
  padding-top: 10px;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-family: "Source Code Pro", monospace;
  font-size: x-large;
}

.content {
  background-image: url("./images/space_background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#map {
  border: 2px solid white;
  border-radius: 1rem;
  display: block;
  height: 80%;
  width: 75%;
  z-index: 1;
}
.legend {
  font-size: 12px;
  padding-right: 5px;
}

.bottom {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://art.pixilart.com/ec8964245a82f8e.gif);
  background-size: 350px;
  margin: 0.5rem, 0;
}

.animations {
  z-index: 0;
}

.animations img{
  position: absolute;
  width: 100px;
}

.chiikawa {
  top: 0px;
  left: 30%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: slide-in;
  animation-direction: alternate;
}

.alien{
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: slide-in;
  animation-direction: alternate;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}



.border {
  background-color: #ffe4f2;
  border: 5px solid #9f45b0;
  border-style: ridge;
}

.legend-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  font-size: 15px;
}
