:root {
  --saturn-color: #bb7431;
  --mars: #bc2731;
  --mercury: #67a6ac;
  --venus: #eed053;
  --neptune: #007dac;
  --earth: green;
  --uranus: #ace5ee;
  --pluto: #34acb1;
  --space: #373757;
}

.college-check {
  margin-right: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--white);
}

body {
  overflow: hidden;
  cursor: none;
  background-image: url("./images/space_background.jpg");
  background-size: cover;
}

input,
button,
#map,
.leaflet-container {
  cursor: none;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("images/astronaut.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-3%, -33%);
}

#openScreen {
  z-index: 100;
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--space);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 3s;
}

#openScreen .startContainer {
  z-index: inherit;
  background-color: whitesmoke;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

#openScreen .openImages {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#openScreen .stars{
  height: 20%;
}

/* Animation */
.slide-out-blurred-top {
  animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
}

@keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
}

.roll-out-left {
	animation: roll-out-left 0.6s ease-in both;
}

@keyframes roll-out-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotate(-540deg);
    opacity: 0;
  }
}

.roll-out-right {
	animation: roll-out-right 0.6s ease-in both;
}

@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px) rotate(540deg);
    opacity: 0;
  }
}
/* Animation */

.main {
  display: flex;
}

.sidebar {
  z-index: 1;
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.legend {
  list-style-type: none;
}

.legend li {
  margin: 0.5rem 0;
}

.saturn {
  color: var(--saturn-color);
}

.mars {
  color: var(--mars);
}

.mercury {
  color: var(--mercury);
}

.venus {
  color: var(--venus);
}

.neptune {
  color: var(--neptune);
}

.earth {
  color: var(--earth);
}

.uranus {
  color: var(--uranus);
}

.pluto {
  color: var(--pluto);
}

.searchbox {
  padding: 10px 10px;
  border-radius: 1rem;
  margin: 0 1rem;
  width: 80%;
  height: 20px;
  padding-top: 10px;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-family: "Source Code Pro", monospace;
  font-size: x-large;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: clip;
}

#map {
  border: 5px solid #9f45b0;
  border-style: ridge;
  border-radius: 1rem;
  display: block;
  height: 80%;
  width: 75%;
  z-index: 1;
}

.legend {
  font-size: 12px;
  padding-right: 5px;
}

.legend li {
  display: flex;
  align-items: center;
}

.animations {
  z-index: 0;
}

.animations img {
  position: absolute;
  width: 100px;
}

.chiikawa {
  top: -20px;
  left: 25%;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: slide-in;
  animation-direction: normal;
}

@keyframes slide-in {
  20% {
    translate: 1000px;
  }
  40% {
    translate: 1000px 700px;
  }
  60% {
    translate: 0px 700px;
  }
}

.border {
  background-color: #ffe4f2;
  border: 5px solid #9f45b0;
  border-style: ridge;
}

.legend-header {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  font-size: 15px;
}