:root {
  --saturn-color: red;
  --mars: blue;
  --mercury: green;
  --venus: purple;
  --neptune: pink;
  --earth: orange;
  --uranus: yellowgreen;
  --pluto: maroon;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--white);
}

.main {
  display: flex;
}

.sidebar {
  width: 30vw;
  height: 100vh;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
}

.legend {
  list-style-type: none;
}

.saturn {
  color: var(--saturn-color);
}

.mars {
  color: var(--mars);
}

.mercury {
  color: var(--mercury);
}

.venus {
  color: var(--venus);
}

.neptune {
  color: var(--neptune);
}

.earth {
  color: var(--earth);
}

.uranus {
  color: var(--uranus);
}

.pluto {
  color: var(--pluto);
}

.searchbox {
  padding: 10px 10px;
  border-radius: 1rem;
  margin: 0 1rem;
}

.title {
  text-align: center;
  margin: 1rem 0;
  font-family: "Source Code Pro", monospace;
  font-size: x-large;
}

.content {
  background-image: url("./images/space_background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#map {
  border: 2px solid black;
  border-radius: 1rem;
  display: block;
  height: 85%;
  width: 80%;
}
.legend {
  font-size: 13px;
  padding-right: 5px;
}
